:root {
  --bg-main: #333;
  --bg-inner: #111;
  --bg-inactive: #555;
  --bg-active: #399cfe;
  --bg-danger: #eb3535;
  --color-inactive: #777;
  --separator: #666;
  --chevron-down: url("data:image/svg+xml,%3Csvg height='.9em' width='.9em' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 185.343 185.343' xml:space='preserve' fill='%23000000'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg%3E%3Cg%3E%3Cpath style='fill:%23555;' d='M51.707,185.343c-2.741,0-5.493-1.044-7.593-3.149c-4.194-4.194-4.194-10.981,0-15.175 l74.352-74.347L44.114,18.32c-4.194-4.194-4.194-10.987,0-15.175c4.194-4.194,10.987-4.194,15.18,0l81.934,81.934 c4.194,4.194,4.194,10.987,0,15.175l-81.934,81.939C57.201,184.293,54.454,185.343,51.707,185.343z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.chevron-down {
  color: white;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-size: inherit;
}

html {
  position: relative;
  width: 15em;
  background-color: var(--bg-main);
  font-family: sans-serif;
  color: white;
}

h1,
h2,
h3,
h4 {
  margin: unset;
  padding: unset;
}

h1,
h2,
h3 {
  padding-block: .5em;
  font-size: 1.5em;
}

h4 {
  padding-block: .3em;
  font-size: 1em;
}

.danger {
  background-color: var(--bg-danger) !important;
}

.veil {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999999;
  height: 100%;
  padding: 1em;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, .9);
}

.veil[data-show='false'] {
  display: none;
}

.veil .message {
  text-align: center;
}

.toggle {
  cursor: pointer;
  user-select: none;
}

.grid {
  margin-bottom: .3em;
  display: grid;
  grid-template-columns: 6fr 1fr;
  row-gap: .5em;
}

.grid>* {
  margin-block: auto;
}

.grid>*:nth-child(2n) {
  margin-inline: auto;
}

.collapsible {
  overflow: hidden;
  transition: max-height 200ms ease-out;
}

.collapsible[data-collapsed='true'] {
  max-height: 0 !important;
}

.collapse-title {
  cursor: pointer;
  user-select: none;
  position: relative;
}

.collapse-title::before {
  content: var(--chevron-down);
  display: inline-block;
  translate: 0 15%;
  transform: rotate(90deg);
  transform-origin: 50% 35%;
  transition: transform 200ms ease-out;
}

:checked+.collapse-title::before {
  transform: none;
}

.separator {
  margin-block: .3em;
  height: .1em;
  background: var(--separator)
}

.tooltip {
  cursor: pointer;
  position: relative;
  z-index: 100;
  color: var(--color-inactive);
}

.tooltip:hover::after {
  cursor: pointer;
  content: attr(data-tooltip);
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% -100%;
  width: max-content;
  padding-block: .1em;
  padding-inline: .3em;
  border-radius: .3em;
  background-color: #111;
  color: white;
}

button,
.toggle-button {
  all: unset;
  user-select: none;
  cursor: pointer;
  display: block;
  padding-block: .5em;
  padding-inline: 1em;
  text-align: center;
  background-color: #555;
  transition: background-color 125ms ease-out;
}

button:hover,
.toggle-button:hover {
  background-color: #777;
  transition: background-color 80ms ease-out;
}

button:active {
  background-color: #aaa;
}

:checked~.toggle-button {
  background-color: var(--bg-active);
}

.slider {
  --slider-width: 3em;
  --slider-height: 1.5em;
  --duration: 200ms;
  cursor: pointer;
  display: block;
  flex-shrink: 0;
  width: var(--slider-width);
  height: var(--slider-height);
  border-radius: 99999em;
  background: linear-gradient(to right, var(--bg-active) 50%, var(--bg-inactive) 50%);
  background-position: right;
  background-size: 200% 100%;
  transition: background-position var(--duration);
}

:checked~.slider {
  background-position: left;
}

.thumb {
  display: block;
  width: var(--slider-height);
  height: 100%;
  border-radius: 99999em;
  background-color: white;
  box-shadow: rgba(0, 0, 0, .4) 0 0 .4em .08em;
  transition: translate var(--duration);
}

:checked~.slider .thumb {
  translate: calc(var(--slider-width) - var(--slider-height)) 0;
}